@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 208 46% 16%;
    --card: 0 0% 100%;
    --card-foreground: 208 46% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 46% 16%;
    --primary: 199 79% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34 100% 96%;
    --secondary-foreground: 199 70% 28%;
    --muted: 202 54% 96%;
    --muted-foreground: 207 22% 40%;
    --accent: 175 52% 92%;
    --accent-foreground: 176 72% 24%;
    --destructive: 8 79% 55%;
    --destructive-foreground: 210 40% 98%;
    --border: 201 35% 88%;
    --input: 201 35% 88%;
    --ring: 199 79% 38%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 53% 11%;
    --foreground: 210 40% 98%;
    --card: 212 53% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 212 53% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 190 83% 58%;
    --primary-foreground: 210 50% 12%;
    --secondary: 208 33% 19%;
    --secondary-foreground: 210 40% 98%;
    --muted: 208 33% 19%;
    --muted-foreground: 205 20% 75%;
    --accent: 173 45% 22%;
    --accent-foreground: 210 40% 98%;
    --destructive: 8 70% 45%;
    --destructive-foreground: 210 40% 98%;
    --border: 208 28% 24%;
    --input: 208 28% 24%;
    --ring: 190 83% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
